# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "B6894192C4D58079BB218183E26D89AA"
sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "q0w313gesbb1li4981jcvvy42glpgxqw"
sv_hostname "FX Server built with CFX Default by Tabarra!"
sets sv_projectName "[CFX Default] FX Server"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:73976 group.admin #fantaagogo

# Add system essential commands
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

######
# db #
######

set mysql_connection_string "user=root;database=fxserver"

ensure mysql-async

########
# libs #
########

ensure async
ensure cron
ensure skinchanger

#############
# essential #
#############

# Disable Couchdb from essentialmode
set es_enableCustomData 1

ensure essentialmode
ensure esplugin_mysql
ensure es_admin2

ensure es_extended


#######
# esx #
#######

ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog